

<section id="nav">

<section class="notify">
<div class="alert  head-alert  text-center">
        <button type="button" class="close" data-dismiss="alert">×</button>
         <strong><img src="/cdn/img/sticky_gold_logo.webp" ></strong>    Introducing Zomato Gold — An Exclusive Members Club.  <a class="head-alert" href="/membership/ghsourav/gold">Join Now</a>
      </div>
</section>

<nav class="navbar navbar-expand-md navbar-dark bg-danger mb-4 ">
  <section class="container">
      <a class="navbar-brand" href="/"><img src="/cdn/img/zomato_white_logo_new.svg" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>  

          <li class="nav-item">
            <a class="nav-link btn " href="/authentication/login">Login</a>
          </li>

          <li class="nav-item active2">
            <a class="nav-link btn " href="/authentication/Register">Create an Account</a>
          </li>
          
        </ul>
        
      </section>

      
    </nav>


<section class="minimenu bg-light shadow-lg container">
  <article>
    <a href="#"><img class="icon1" src="/cdn/img/icon/get-the-app-plain.svg" alt="Get App Today">Get App Today</a>
  </article>

  
  <main>
    <ul>
      <li><a href="/Restaurants"><img class="icon1" src="/cdn/img/icon/order-online.svg" alt=""> Order Food</a></li>
      <li><a href="#"><img class="icon1" src="/cdn/img/icon/book-a-table.svg" alt=""> Book Table</a></li>
      <li><a href="/membership/ghsourav/gold"><img class="icon1" src="/cdn/img/icon/header_gold_icon.svg" alt=""> Zomato Gold</a></li>
    </ul>
  </main>
        

</section>


</section>