<nav class="navbar navbar-expand-sm bg-white navbar-dark shadow-lg">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="/public/img/bdddded729eec1881d992117920afa5f1553759845.webp" alt="logo" style="width: 8.5rem;height: 2rem;">
  </a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
  </ul>
</nav>
