{{> _nav}}

<div class="gold-zimagery">
    <div class="gold-zimagery-content text-center">
        <img class="gold_logo " src="/cdn/img/sticky_gold_logo.webp">
        <div class="subtext">Experience new places in your city every day and enjoy limitless dining privileges!</div>
    </div>
</div>


<div class="gold_benefit_section">
            <div class="benefit_grid">
        <img class="gold_benefit_image  gold_image_full_width " src="https://b.zmtcdn.com/data/red_images/fcc51654c0a3e58ec964d6efabdd96ce.jpg">
                <div class="gold_benefit_text">
            <div class="sub_text">
                <div>   </div>
                <div class="small_text">   </div>
            </div>
        </div>
            </div>
                <div class="benefit_grid">
        <img class="gold_benefit_image  gold_image_full_width " src="https://b.zmtcdn.com/data/red_images/ed0fac4012f951e305f227369d7abb7a.jpg">
                <div class="gold_benefit_text">
            <div class="sub_text">
                <div>   </div>
                <div class="small_text">   </div>
            </div>
        </div>
            </div>
        </div>



<section class="gold-pricing">

<h4 class="text-center">Select your membership</h4>

</style>





    
</section>








<style>
    .gold-zimagery {
    min-height: 300px;
}
.gold_benefit_section .benefit_grid {
    position: relative;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
}
.gold_benefit_section {
    width: 100%;
    display: flex;
    height: 450px;
}
.gold-zimagery {
    background: url(https://static.zmtcdn.com/images/red/gold_desktop_banner_cs.png) top;
    background-position: 50%;
    background-color: hsla(0,0%,41.2%,.71);
    max-height: 400px;
    height: 350px;
    padding: 0;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.3;
    flex-direction: column;
}
.gold-zimagery .gold-zimagery-content {
    margin-top: 0;
    width: 35%;
}
.gold_benefit_section .gold_image_full_width {
    width: 100%;
}

.gold_benefit_section .gold_benefit_image {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
</style>